/* Styles for print view and printing */

/* Hide some extra stuff from print view. */
.mw-indicators,
.mw-editsection,
#p-logo,
#catlinks,
#searchform,
#mw-footer,
footer {
	display: none;
}

a {
	text-decoration: underline;
	color: black;

	&[href]:after {
		content: ' (' attr(href) ')';
	}

	&.external,
	&.extiw {
		color: black;
		background: none;
		padding-right: 0;
	}

	&.new {
		color: black;
		text-decoration: dashed underline;
	}
}
