body { line-height:1.6; font-size:medium; font-family:sans-serif }
h1, h2, h3 { line-height: 1.2 }
a { text-decoration:none; color:#060 }
a:hover { text-decoration:underline }
article { margin:1em; max-width:50em; text-align:justify }

/* Forms */
input, textarea { border-radius:0; border:1px solid #666; color:black }

/* Header */
header { border-bottom:1px solid black; padding:0 }
header h1,
header nav { line-height:1.6 }
header h1 { font-size:large; margin:0 0 0 1em }
header nav { float:right }
header nav form,
header nav p { display:inline-block; margin:0; vertical-align:bottom; font-size:large; font-weight:normal }
header nav p { margin-right:2em }
header input[name='search'] { border:0; border-left:1px solid black; padding:0 0.6em }
header input[name='go'] { position:absolute; right:9999px }
@media (max-width:600px) {
    header { text-align:center; border:0 }
    header nav { float:none }
    header nav form,
    header nav p a { display:block; margin:0; background-color:#efefef; width:100% }
    header nav p { display:block; margin:0; font-size:small }
    header h1 { margin:1em 0 0 0 }
    header nav input[name='search'] { display:block; width:100%; border:1px solid #ccc; border-width:1px 0 }
}

/* Content */
p.subtitle,
div.catlinks { margin:0; background-color:#efefef; padding:0.3em; font-size:small }
div.catlinks { margin-top:2em }

/* Tables of Contents */
div#toc { border:2px solid #ccc; border-width:2px 0; color:#ccc; line-height:1.1; font-size:medium }
div#toc a { color:black }
div#toc #toctitle h2 { margin:0; font-size:medium; font-variant:small-caps }
div#toc span.toctoggle { display:none }
div#toc ul { list-style-type:none }
div#toc ul li { padding:0 }

/* Footer */
footer { font-size:small; border-top:1px solid #ccc; margin-top:3em; padding:1em }
footer ul { margin:0; padding:0 }
footer ul li { display:inline-block; margin:0 1em 0 0 }

/* Editing */
body.action-edit article,
body.action-submit article { max-width:none }
h2 span.mw-editsection,
h3 span.mw-editsection { display:none }
h2:hover span.mw-editsection,
h3:hover span.mw-editsection { display:inline; vertical-align:middle }
@media (max-width:600px) {
    textarea { width:100%; max-height:80%; display:block }
}